<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>云南大学2017年招收硕士研究生复试通知书打印系统</title>
    <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/stylesheets/style.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <p class="text-center lead">云南大学2017年招收硕士研究生复试通知书打印系统</p>
    <div class="row">
        <p><%= message %></p>
    </div>
</div>
</body>
</html>